django
gunicorn
django-heroku
Pillow            
pip               
wheel             
isort             
lazy-object-proxy 
mccabe            
pylint            
pytz              
setuptools        
six               
typed-ast         
wrapt             
astroid           
colorama
boto3
django-storages