{% extends 'homeview/homeview.html' %} {% block meta_tags %} {% load static %}
<title>ILLUMEPEDIA</title>
<meta name="description" content="{{article.description}}" />
<meta name="keywords" content="{{article.keywords}}" /> {% for publisher in article.publisher.all %}
<meta name="author" content="{{publisher}}" /> {% endfor %}
<meta property="og:url" content="{{request.build_absolute_uri}}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{article.title}}" />
<meta property="og:description" content="{{article.description}}" />
<meta property="og:image" content="{{article.image.url}}" /> {% endblock meta_tags %} {% block sideNav %}
<h3 id=""><a href="{% url 'homeview:sectionView' section %}">ARTICLES ON
        {{section}}</a></h3>
<input type="text" id="SearchInput" onkeyup="SearchFunction()" placeholder="Search topics" id="myInput">
<ul id="sideNavUL">
    {% for articles in section.article_set.all %} {% if articles.publish %}
    <li><a class="a" href="{% url 'homeview:articleView' articles.id articles.title_slug %}">{{articles}}</a></li>
    {% endif %} {% endfor %}
</ul>
{% endblock sideNav %} {% block mainHeading %}
<div id="mainhead" class="mainhead">
    <h1 id="mainHeading">{{article.title}}</h1>
</div>
{% endblock mainHeading %} {% block main %}
<div id="fb-root"></div>
<!-- <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v5.0"></script> -->
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<script>
    window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function(f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));
</script>
<article class="article">
    {% if article.image %}
    <figure class="">
        <img src="{{article.image.url}}" alt="">
        <figcaption><em>Image Source: {{article.image_source}}</em></figcaption>
    </figure>
    {% endif %}
    <div class="share">
        <div class="fb-share-button" data-href="{{request.build_absolute_uri}}" data-layout="button_count" data-size="small">
        </div>
        <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{article.description}}" data-size="">
            Tweet
        </a>
        <a href="whatsapp://send?text={{article.description}}"> <img id="whatsappicon" src="{% static 'CSS/whatsapp.png' %}" alt=""></a>
    </div>
    <!-- <div class="fb-share-button" data-href="{{request.build_absolute_uri}}" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div> -->
    <section>
        {% if article.sub_heading %}
        <h2 class="">{{article.sub_heading}}</h2>
        {% endif %} {{article.body_text|safe}}
    </section>
    {% for section in sections %}
    <section>
        <h3>{{section.sub_heading}}</h3>
        {% if section.Sub_section_image %}
        <figure style="margin-bottom: 10px;" class="">
            <img src="{{section.Sub_section_image.url}}" alt="">
            <figcaption><em>Image Source: {{section.image_source}}</em></figcaption>
        </figure>{% endif %} {{section.body_text|safe}}
    </section>
    {% endfor %}
    <p>Published By: {% for publisher in article.publisher.all %}
        <a href="">{{publisher}} </a> {% endfor %}
    </p>
    <p class="pub_date">{{article.mod_date}}</p>

    {% for publisher in article.publisher.all %}
    <p class="Pub_discription">{{publisher.description}}</p>
    {% endfor %}
    <div class="share">
        <div class="fb-share-button" data-href="{{request.build_absolute_uri}}" data-layout="button_count" data-size="small">
        </div> <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{article.description}}" data-size="">
            Tweet</a>
        <a href="whatsapp://send?text={{article.description}}"> <img id="whatsappicon" src="{% static 'CSS/whatsapp.png' %}" alt=""></a>
    </div>
    <!-- <div class="fb-share-button" data-href="{{request.build_absolute_uri}}" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div> -->
</article>
{% endblock main %} {% block ads %} {% endblock ads %} {% block mostviewed %}
<div id="" class="articleInnerBox" style="clear:both;background-color:#056fb6">
    <h2 style="text-align:center;color:#f9f9f9;text-shadow: 2px 1px black;">Most Viewed Articles</h2>
    {% for article in mostviewed %} {% if article.publish %}
    <section class="articleDisplayBox">
        <h3><a href="{% url 'homeview:articleView' article.id article.title_slug
                %}">{{article}}</a></h3>
        <img class="" src="{{article.image.url}}" alt=""> {{article.bodySnippet|safe}}
        <p>Published By {% for publisher in article.publisher.all %}
            <a href="">{{publisher}} </a> {% endfor %}
        </p>
        <p class="pub_date">{{article.mod_date}}</p>
    </section>
    {% endif %} {% endfor %}
</div>
{% endblock mostviewed %} {% block news %} {% endblock news %}