{% extends 'homeview/homeview.html' %} {% block meta_tags %}
<title>ILLUMEPEDIA</title>
<meta name="description" content="" />
<meta name="keywords" content=" " /> {% for publisher in article.publisher.all %}
<meta name="author" content=" " /> {% endfor %} {% endblock meta_tags %} {% block sideNav %}
<h3 id="">Author's Article{{article|pluralize}}</h3>
<input type="text" id="SearchInput" onkeyup="SearchFunction()" placeholder="Search topics" id="myInput">
<ul id="sideNavUL">
    {% for article in article %} {% if article.publish %}
    <li><a class="a" href="{% url 'homeview:articleView' article.id article.title_slug %}">{{article}}</a></li>
    {% endif %} {% endfor %}
</ul>
{% endblock sideNav %} {% block mainHeading %}
<div id="mainhead" class="mainhead">
    <h1 id="mainHeading"> </h1>
</div>
{% endblock mainHeading %} {% block main %}
<article class="articleBox">
    <p>{{publisher.description}}</p>
    <h2 style="text-align:center;color:#f9f9f9;text-shadow: 2px 1px black;background-color:#056fb6;margin-top:10px; padding:8px 0px; text-shadow:none">
        Article{{article|pluralize}} published by {{publisher}} </h2>
    <div id="" class="articleInnerBox" style="clear:both">
        {% for article in article %} {% if article.publish %}
        <section class="articleDisplayBox">
            <h3><a href="{% url 'homeview:articleView' article.id article.title_slug %}">{{article}}</a></h3>
            <img class="" src="{{article.image.url}}" alt="{{article.image_description}}"> {{article.bodySnippet|safe}}
            <p class="pub_date">{{article.mod_date}}</p>
        </section>
        {% endif %} {% endfor %}
    </div>
</article>


{% endblock main %} {% block ads %} {% endblock ads %} {% block mostviewed %} {% endblock mostviewed %} {% block news %} {% endblock news %}